<!DOCTYPE html>

<div class="col-md-6 offset-md-3 mt-2 mb-2">
    <h3 style="text-align:center;">Update Student</h3>

<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>User Role</label>
        <input type="text" class="form-control" id="userRole"
            [(ngModel)] = "student.role" name="userRole" required>
    </div>
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" id="fullName"
            [(ngModel)] = "student.fullName" name="fullName" required>
    </div>
    <div class="form-group">
        <label>DOB</label>
        <input type="date" class="form-control" id="dob"
            [(ngModel)] = "student.dob" name="dob" required>
    </div>
    <div class="form-group">
        <label>Phone #</label>
        <input type="text" class="form-control" id="phone"
            [(ngModel)] = "student.phone" name="phone" required>
    </div>
    <div class="form-group">
        <label>Gender</label>
        <input type="text" class="form-control" id="gender"
            [(ngModel)] = "student.gender" name="gender" required>
    </div>
    <div class="form-group">
        <label>Current Address</label>
        <textarea class="form-control" id="cAddress"
            [(ngModel)] = "student.currentAddress" name="cAddress" required> </textarea>
    </div>
    <div class="form-group">
        <label>Permanent Address</label>
        <textarea class="form-control" id="pAddress"
            [(ngModel)] = "student.permanentAddress" name="pAddress" required> </textarea>
    </div>
    <div class="form-group">
        <label><b>Hobbies</b></label>
        <div class="form-inline">
            <label>
                <input [(ngModel)]="music" [ngModelOptions]="{standalone: true}" type="checkbox" name="music" value="music" required/> music</label> <br>
            <label>
                <input [(ngModel)]="read" type="checkbox" name="read" value="read" required /> read</label> <br>
            <label> 
                <input [(ngModel)]="dance" type="checkbox" name="dance" value="dance" required /> dance</label>
        </div>
    </div>
    <div class="form-group">
        <label>Standard</label>
        <input type="text" class="form-control" id="std"
            [(ngModel)] = "student.standard" name="std" required>
    </div>
    <div class="col-md-12 text-center">
    <button class="btn btn-success" type="submit">Update Student</button>
</div>
</form>
</div>

