<div class="container">
    <div class="row">
        <div class="col-md-7 align-self-center">
            <h2>Contact Us</h2>
            <p>You can get in touch with us by filling this form..!!</p>
            <form action="">
                <div class="row mb-3">
                    <div class="col-6">
                        <input type="text" class="form-control" placeholder="Enter Your Name">
                    </div>
                    <div class="col-6">
                        <input type="email" class="form-control" placeholder="Enter Your Email">
                    </div>
                </div>
                <div class="row mb-3">
                    <div>
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                </div>
                <div class="row mb-3">
                    <div>
                       <textarea name="" id="" class="form-control" cols="30" rows="10" placeholder="Enter your message"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn" style="background-color:rgb(211, 186, 235) ;">Send Message</button>
            </form>


        </div>
        <div class="col-md-5 pt-4">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14662.559407342736!2d72.64379788028558!3d23.256189192803365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2c78eaaaaa97%3A0x5b079746e5fce757!2sMood%20Of%20Wood%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1678349358111!5m2!1sen!2sin"
                 height="500" style="border:0; width: 100%;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>